details {
  /* transition: scale 3s ease, 
    display 3s ease allow-discrete,
    opacity s ease; */

  transition-property: display opacity;
  transition-duration: 3s;
  transition-behavior: allow-discrete;
  transition-delay: 3s;
  &[open] {
    opacity: 1;
    display: block;
    translate: 0px 25vh;
    /* scale: 1; */
    /* height: auto; */
    /* transform: 0px 0px; */

    /* transition: scale 03s ease-in-out, 
      opacity 5s ease 1s, 
      height 0.5s ease, 
      transform 5s ease; */

    @starting-style {
      /* transform: 10px 10px; */
      /* scale: 0; */
      opacity: 0;
      display: none;
      translate: 0px 0px;
      /* height: 0; */
    }
  }
}
